<!--<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/assets/css/new_fir_page_style.css">
  <title>Title</title>

  <link rel="stylesheet" href="/assets/js/layui/css/layui.css">
  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/layui/layui.js"></script>
  <script src="/assets/js/bootstrap/js/bootstrap.min.js"></script>

  <style type="text/css">
    body {
      /*display: flex;*/
      width: 100%;
      height: 100%;
      min-height: 100vh;
      /*background: url(../images/background.png) no-repeat;*/
      /*backdrop-filter: blur(5px);*/
      background-size: cover;
      /*background-position: bottom center;*/
      /*filter:blur(10px);!*虚化值，越大越模糊*!*/
      /*-webkit-filter: blur(10px);*/
      /*-moz-filter: blur(10px);*/
      /*-o-filter: blur(10px);*/
      /*-ms-filter: blur(10px);*/
      /*filter: blur(10px);*/
    }


    #submit1{
      text-align: center;
    }

    /*.left_box{*/
    /*    width: 70%;*/
    /*    !*display: inline-block;*!*/
    /*}*/
    /*.right_box{*/
    /*    width: 30%;*/
    /*    !*display: inline-block;*!*/
    /*    background-color: red;*/
    /*}*/
    .each_td1{
      height: 80px;

      /*border-left :3px solid mediumpurple;*/
      border-left :3px solid mediumseagreen;

      /*border-left: 2px solid greenyellow;*/
      /*margin-top: 10px;*/
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      /*text-align: center;*/
      /*两侧对齐*/
      text-align: justify;
      background-color: white;

      /*字体大小*/
      font-size: 18px;
      /*加粗*/
      font-weight: 550;

    }
    .each_td2{
      height: 50px;

      /*border-left :3px solid yellow;*/
      /*border-left: 2px solid greenyellow;*/
      /*margin-top: 10px;*/
      color: grey;
      font-size: 8px;


      text-align: center;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      background-color: white;
    }
    .each_td3{
      height: 50px;

      /*border-left :3px solid yellow;*/
      /*border-left: 2px solid greenyellow;*/
      /*margin-top: 10px;*/
      text-align: center;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      background-color: white;
    }
    .each_td4{
      height: 50px;

      /*border-left :3px solid yellow;*/
      /*border-left: 2px solid greenyellow;*/
      /*margin-top: 10px;*/
      text-align: center;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      background-color: white;
    }

    .top_box{
      width: 100%;
      /*height: 20%;*/
      height: 8%;
      /*height: 60px;*/
      background-color: white;
    }
    .left_box{
      /*display: flex;*/
      float: left;
      width: 70%;
      height: 100%;
      display: inline-block;
      background-color: white;
    }
    /*#editor{*/
    /*    !*float: left;*!*/
    /*    width: 100%;*/
    /*    height: 80%;*/
    /*    !*transform:translateY(-50%);*!*/
    /*    !*margin-top: 12.5%;*!*/
    /*}*/
    .editor_div{
      width: 87%;
      height: 100%;
      /*background-color: purple;*/
      display: inline-block;
    }
    .btn_div{
      float: left;
      width: 12%;
      height: 100%;
      background-color: aliceblue;
      display: inline-block;
      /*display:flex;*/
      /*justify-content:center;*/
      /*align-items:center;*/
    }
    .btns_box{
      width: 100%;
      height: 70%;
      /*background-color: black;*/
      /*display:flex;*/
      /*justify-content:center;*/
      /*align-items:center;*/
      /*vertical-align: center;*/
      /*text-align: center;*/
      /*margin: 0 auto;*/
      margin-top: 70%;
    }
    #table_div{
      width: 29%;
      height: 94%;
      display: inline-block;
      /*background-color: red;*/
      overflow-y:scroll;/*滚动*/
      position: relative;
      background-color: rgb(248,248,248);
    }
    #table1id{
      width: 100%;
      /*overflow-y: scroll;*/

    }
    .btn1{
      width: 100%;
      height: 15%;
      /*background-color: red;*/
      /*text-align: center;*/
      /*vertical-align: center;*/
      display:flex;
      justify-content:center;
      align-items:center;
      margin-top: 30%;

    }
    .file {
      height: 28px;
      width: 50%;
      position: relative;
      /*display: inline-block;*/
      /*background: #D0EEFF;*/
      /*background: #1E9FFF;*/
      background: #009688;
      /*color: white;*/
      /*border: 1px solid #99D3F5;*/
      border: 1px solid #009688;
      border-radius: 4px;
      padding: 4px 12px;
      overflow: hidden;
      color: white;
      text-align: center;
      /*vertical-align:center;*/
      text-decoration: none;
      text-indent: 0;
      line-height: 28px;
      /*display:flex;*/
      /*justify-content:center;*/
      /*align-items:center;*/
      border-radius: 100px;
    }
    .file input {
      position: absolute;
      font-size: 100px;
      right: 0;
      top: 0;
      opacity: 0;
    }
    .file:hover {
      /*background: #AADFFD;*/
      /*border-color: #78C3F3;*/
      /*color: #004974;*/
      /*text-decoration: none;*/

      opacity: .8;
      filter: alpha(opacity = 80);
      color: #fff;
    }
    .layui-btn{
      /*width: 70%;*/
      width: 90px;
    }
    /*#submit3{*/
    /*    */
    /*}*/
    .loading{width:10px;height:10px;display: none; position: absolute; z-index:1002; }
    /*手动改了样式*/
    #edui1_iframeholder{
      /*height: 65%;*/
      height: 614px;
      /*overflow: scroll;*/
    }

    #img_right{
      height: 70%;
      width: 80%;
      /*text-align: center;*/

      /*position: absolute;*/
      /*top: 50%;*/
      /*left: 50%;*/
      /*margin-top: -25px; !* 高度的一半 *!*/
      /*margin-left: -25px; !* 宽度的一半 *!*/

      /*position: absolute;*/
      /*top: 0;*/
      /*left: 0;*/
      /*right: 0;*/
      /*bottom: 0;*/
      /*margin: auto;*/

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

    }

  </style>

  <script>
    //文档就绪函数
    $(function () {
      //鼠标指针移动时发生 mousemove 事件
      $(document).mousemove(function (e) {
        //获取鼠标坐标：
        var X = e.pageX;
        var Y = e.pageY;
        //获取鼠标坐标e.pageX e.pageY，给图片添加绝对位置 position:absolute  改变图片大小
        $(".loading").css({ "width": "3px", "height": "3px", "position": "absolute", "left": e.pageX, "top": e.pageY,"z-index": "1002","display": "none"});
        // $(".loading").css({ "width": "3px", "height": "3px", "position": "absolute", "left": e.pageX, "top": e.pageY,"z-index": "1002"});
      });
    });
  </script>

  <script type="text/javascript" src="/assets/js/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/assets/js/umedit/ueditor.config.js"></script>
  <script type="text/javascript" src="/assets/js/umedit/ueditor.all.min.js"></script>

  <script type="text/javascript"
          src="/assets/js/umedit/lang/zh-cn/zh-cn.js"></script>
  <script>
    window.onload=function (){
      // alert("window.onload");
      // var form = layui.form;
      // var ue = window.UE.getEditor('editor');
      var ue = UE.getEditor('editor', {autoHeightEnabled: false});

      // // test:调整字体大小与行间距
      // ue.ready(function(){
      //
      //     // editor.execCommand('fontfamily','微软雅黑'); //字体
      //
      //     ue.execCommand('lineheight', 2); //行间距
      //
      //     ue.execCommand('fontsize', '18px'); //字号
      //
      // });
    }
  </script>


  <!--    <%&#45;&#45;    纠错js&#45;&#45;%>-->
  <script type="text/javascript">
    $(function(){
      // // ajax_try
      // $("#submit1").click(function(){
      //     $(".loading").show();
      //     // $("#table1id  tr:not(:first)").empty();
      //     $("#tbody1").html("");
      //     // $("#tbody1").html()
      //     // $("#table1id").empty("");
      //
      //     // var tb1 = document.getElementById("tbody1");
      //     // // var tba = document.getElementById("table1id");
      //     // for (var i = tb1.length-1;i>=0;i--){
      //     //     tb1.removeChild(tb1[i]);
      //     // }
      //     //提取纯文本！！！！
      //     // var article_content_txt = UE.getEditor('editor').getContentTxt();
      //     var article_content_txt = UE.getEditor('editor').getContentTxt();
      //     var article_content = UE.getEditor('editor').getContent();
      //     // alert("article_content_txt:  "+article_content_txt);
      //     var article_json = "text="+article_content_txt;
      //     var ue = UE.getEditor('editor');
      //
      //     //去除多余纠错后样式
      //     var article_content_new="";
      //     var flag1 = true;
      //     var flag2=true;
      //     // alert(article_content);
      //     // alert(article_content[4]);
      //     // alert(article_content[4+13]);
      //     // alert(article_content[17]);
      //     for(var i=0;i<article_content.length;i++){
      //
      //         // alert(i);
      //         // alert(article_content[i]);
      //         // alert(article_content[i+1]);
      //         // alert(article_content[i+2]);
      //         // alert(article_content[i+3]);
      //
      //         // var tmp=i+13;
      //         // alert(article_content[tmp]);
      //
      //         if(article_content[i]==='<'&&article_content[i+13]==='b'&&article_content[i+20]==='b'&&article_content[i+27]==='4'){
      //             // if(article_content[i]==='<'){
      //             // alert(article_content[i+13]);
      //             // alert(article_content[i+20]);
      //             // alert(article_content[i+27]);
      //             // alert("11111");
      //             flag1=false;
      //             flag2=false;
      //             continue;
      //         }
      //         if(!flag1&&article_content[i]==='>'){
      //             flag1=true;
      //             article_content_new+=article_content[i+1];
      //             // alert("2222");
      //             continue;
      //         }
      //         if(!flag2&&article_content[i]==='>'&&article_content[i-1]==='n'&&article_content[i-2]==='a'&&article_content[i-5]==='/'&&article_content[i-8]==='>'&&article_content[i-11]==='d'){
      //             flag2=true;
      //             // alert("3333");
      //             continue;
      //         }
      //         if (flag1&&flag2){
      //             // alert("44");
      //             article_content_new+=article_content[i];
      //         }
      //     }
      //
      //     // alert("article_json:  "+article_json);
      //     // alert("String(text=article_content_txt):  "+String(text=article_content_txt));
      //     $.ajax({
      //         type:"POST",
      //         // async:false,
      //         url:"http://368672z389.oicp.vip/csc",
      //         // data:"action=jQueryAjax",
      //         // data:{"text":"国际田联认正中国接力队奥运铜牌。恭喜中国接力队！"},
      //         // data:$("#form01").serialize(),
      //         // orgText=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！
      //         // data:decodeURIComponent($("#uploadForm").serialize(),true),
      //         // 传数据
      //         data:"text="+article_content_txt,
      //         // data:String(text=article_content_txt),
      //
      //         // data:"text=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！",
      //         // contentType:"application/x-www-form-urlencoded; charset=GBK",
      //         // contentType:"application/x-www-form-urlencoded; charset=GBK",
      //         success:function (data) {
      //             // alert("success");
      //             data_try=JSON.parse(data);
      //             // alert(data_try.correct_result);
      //             // alert(data_try)
      //             var arr = data_try.detailed_result;
      //             var tt1 = data_try.correct_result;
      //
      //             // alert("tt1: "+tt1);
      //             if (arr.length>0){
      //                 $("#img_right").hide();
      //             }
      //             else $("#img_right").show();
      //
      //             var str_res="";
      //
      //             var tbody = document.getElementById('tbody1');
      //             while (tbody.length){
      //
      //                 tbody.removeChild(tbody.parentNode);
      //             }
      //             for (var ar in arr){
      //                 // alert(arr[ar][1]+" "+arr[ar][2]);
      //                 var tr = document.createElement('tr');
      //                 tr.innerHTML="<tr><td class='each_td1'>"+arr[ar][1]+"</td>" + "<td class='each_td2'>"+"建议修改为"+"</td>"+ "<td class='each_td3'>"+arr[ar][2]+"</td><td class='each_td4'></td></tr>";
      //                 tbody.appendChild(tr);
      //
      //             }
      //             var flag = true;
      //             var cnt_correct = 0;
      //             for (var i in article_content_new){//
      //                 if (article_content_new[i] === '<'){
      //                     flag = false;
      //                     str_res+=article_content_new[i];
      //                     continue;
      //                 }
      //                 else if(article_content_new[i] === '>'){
      //                     flag = true;
      //                     str_res+=article_content_new[i];
      //                     continue;
      //                 }
      //                 if (flag === true){//可以进行比较了
      //                     // str_res+=correct_result[cnt_correct];
      //                     if(article_content_new[i]===tt1[cnt_correct]){
      //                         str_res+=article_content_new[i];
      //                     }
      //                     else{
      //                         str_res+="<span style='border-bottom:4px double red;'>"+ article_content_new[i] +"</span>" ;
      //                     }
      //
      //                     cnt_correct+=1;
      //                 }
      //                 else{//为框内的内容，直接加
      //                     str_res+=article_content_new[i];
      //                 }
      //
      //             }
      //
      //             // alert(str_res);
      //             ue.ready(function() {
      //
      //                 //设置编辑器的内容
      //                 // ue.setContent('测试加载动态内容');
      //                 ue.setContent(str_res);
      //             });
      //             $(".loading").hide();
      //
      //             // 高亮标出（不用）========================================
      //             // var arr_correct_split = data_try.correct_result_split;
      //             // var arr_original_split = data_try.original_text_split;
      //             // var str_res = "";
      //             // for (var i in arr_correct_split){
      //             // 	// alert("this is "+ i);
      //             // 	for (var j in arr_correct_split[i]){
      //             // 		// alert(arr_correct_split[i][j]);
      //             // 		if (arr_correct_split[i][j] == arr_original_split[i][j]){
      //             // 			str_res+=arr_correct_split[i][j];
      //             // 		}
      //             // 		else {
      //             // 			str_res+="<span style='background-color: yellow;color: red'>"+arr_correct_split[i][j]+"</span>";
      //             // 		}
      //             // 	}
      //             // }
      //             // // alert(str_res);
      //             // $("#msg").html(str_res);
      //             // // $("#msg").html(data_try.correct_result);
      //             // ========================================
      //         },
      //         error : function(e) {
      //             alert("出错！");
      //             // alert(e.responseText);
      //             // alert()
      //         },
      //
      //         dataType : "text"
      //     });
      //
      // });


      // ajax_try
      $("#submit1").click(function(){
        $("#submit1").attr('disabled',true);
        // $("#submit1").css("color","black");
        $("#submit1").text("分析中...").css("color","black");

        // $(".loading").show();
        // $("#table1id  tr:not(:first)").empty();
        $("#tbody1").html("");
        // $("#tbody1").html()
        // $("#table1id").empty("");

        // var tb1 = document.getElementById("tbody1");
        // // var tba = document.getElementById("table1id");
        // for (var i = tb1.length-1;i>=0;i--){
        //     tb1.removeChild(tb1[i]);
        // }
        //提取纯文本！！！！
        // var article_content_txt = UE.getEditor('editor').getContentTxt();
        var article_content_txt = UE.getEditor('editor').getContentTxt();
        var article_content = UE.getEditor('editor').getContent();
        // alert("article_content_txt:  "+article_content_txt);
        var article_json = "text="+article_content_txt;
        var ue = UE.getEditor('editor');

        // alert(article_content_txt.type);
        console.log(article_content_txt.toString());


        // const params = new URLSearchParams();
        // params.append('json', article_content_txt);
        // params.append('password', this.password)


        // const data = { 'json':article_content_txt};
        var data1 = {
          data: JSON.stringify({
            'text': article_content_txt
          }),}


        // // #############
        // //去除多余纠错后样式
        // var article_content_new="";
        // var flag1 = true;
        // var flag2=true;
        // // alert(article_content);
        // // alert(article_content[4]);
        // // alert(article_content[4+13]);
        // // alert(article_content[17]);
        // for(var i=0;i<article_content.length;i++){
        //
        //     // alert(i);
        //     // alert(article_content[i]);
        //     // alert(article_content[i+1]);
        //     // alert(article_content[i+2]);
        //     // alert(article_content[i+3]);
        //
        //     // var tmp=i+13;
        //     // alert(article_content[tmp]);
        //
        //     if(article_content[i]==='<'&&article_content[i+13]==='b'&&article_content[i+20]==='b'&&article_content[i+27]==='4'){
        //         // if(article_content[i]==='<'){
        //         // alert(article_content[i+13]);
        //         // alert(article_content[i+20]);
        //         // alert(article_content[i+27]);
        //         // alert("11111");
        //         flag1=false;
        //         flag2=false;
        //         continue;
        //     }
        //     if(!flag1&&article_content[i]==='>'){
        //         flag1=true;
        //         article_content_new+=article_content[i+1];
        //         // alert("2222");
        //         continue;
        //     }
        //     if(!flag2&&article_content[i]==='>'&&article_content[i-1]==='n'&&article_content[i-2]==='a'&&article_content[i-5]==='/'&&article_content[i-8]==='>'&&article_content[i-11]==='d'){
        //         flag2=true;
        //         // alert("3333");
        //         continue;
        //     }
        //     if (flag1&&flag2){
        //         // alert("44");
        //         article_content_new+=article_content[i];
        //     }
        // }
        // // #############

        // alert("article_json:  "+article_json);
        // alert("String(text=article_content_txt):  "+String(text=article_content_txt));
        $.ajax({
          // headers:{'Content-Type':'application/json;charset=utf8'},

          // headers:{'Content-Type':'application/x-www-form-urlencoded;charset=utf8'},
          type:'POST',
          // async:false,
          // url:"http://127.0.0.1:9999/argmin",
          url:"http://127.0.0.1:9999/argmin3",
          // url:"http://127.0.0.1:9999/test",
          contentType: 'application/json',
          dataType:"json",
          // data:"action=jQueryAjax",
          // data:{"text":"国际田联认正中国接力队奥运铜牌。恭喜中国接力队！"},
          // data:$("#form01").serialize(),
          // orgText=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！
          // data:decodeURIComponent($("#uploadForm").serialize(),true),
          // 传数据
          // data:"text="+article_content_txt,

          // data: article_content_txt.toString(),

          // data:String(text=article_content_txt),
          // json: article_content_txt.toString(),
          // json: "json="+article_content_txt,
          // json: data,
          data:JSON.stringify({
            'txt':   article_content_txt,
            // 'txt':   "test",
            // password: $("#password").val()
          }),
          // data: data1,

          // data:"text=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！",
          // contentType:"application/x-www-form-urlencoded; charset=GBK",
          // contentType:"application/x-www-form-urlencoded; charset=GBK",
          success:function (data) {
            console.log("111")
            // alert("success");
            //todo:
            // alert(data.text) //!!!
            console.log(data.original_text) //!!!
            console.log(data.original_text_len) //!!!
            console.log(data.original_text_split)
            console.log(data.tagging_text.Lead) //!!!

            console.log(data.tagging_text.Position) //!!!
            console.log(data.tagging_text.Claim) //!!!
            console.log(data.tagging_text.Evidence) //!!!
            console.log(data.tagging_text.ConcludingStatement) //!!!
            // ##
            console.log("===============")
            // alert(data.feedback[0])
            // data_try=JSON.parse(data)
            //
            // // alert(data_try.correct_result);
            // alert(data_try.text)


            // 进行标注：=======================
            var arr_text_split = data.original_text_split

            // var arr_Lead = data.tagging_text.Lead;
            // console.log(arr_text_split[arr_Lead[0][arr_Lead[0].length-1]]) // study.
            // var arr_Position = data.tagging_text.Position;
            // var arr_Claim = data.tagging_text.Claim;
            var arr_Evidence = data.tagging_text.Evidence;
            // var arr_ConcludingStatement = data.tagging_text.ConcludingStatement;
            //
            // 开始处理
            var str_res = "";
            var arr_Lead_begin = [];
            var arr_Lead_end = [];
            // for(var i in arr_Lead){
            //   arr_Lead_begin.push(arr_Lead[i][0]);
            //   arr_Lead_end.push(arr_Lead[i][arr_Lead[i].length-1]);
            // }
            // var arr_Position_begin = [];
            // var arr_Position_end = [];
            // for(var i in arr_Position){
            //   arr_Position_begin.push(arr_Position[i][0]);
            //   arr_Position_end.push(arr_Position[i][arr_Position[i].length-1]);
            // }
            // var arr_Claim_begin = [];
            // var arr_Claim_end = [];
            // for(var i in arr_Claim){
            //   arr_Claim_begin.push(arr_Claim[i][0]);
            //   arr_Claim_end.push(arr_Claim[i][arr_Claim[i].length-1]);
            // }
            var arr_Evidence_begin = [];
            var arr_Evidence_end = [];
            for(var i in arr_Evidence){
              arr_Evidence_begin.push(arr_Evidence[i][0]);
              arr_Evidence_end.push(arr_Evidence[i][arr_Evidence[i].length-1]);
            }
            // var arr_ConcludingStatement_begin = [];
            // var arr_ConcludingStatement_end = [];
            // for(var i in arr_ConcludingStatement){
            //   arr_ConcludingStatement_begin.push(arr_ConcludingStatement[i][0]);
            //   arr_ConcludingStatement_end.push(arr_ConcludingStatement[i][arr_ConcludingStatement[i].length-1]);
            // }

            console.log(arr_Evidence_begin);
            console.log(arr_Evidence_end);

            for (var i in arr_text_split){
              // if (arr_Lead_begin.includes(i)) {str_res+="<span style=\"background-color:palevioletred;\"> " + arr_text_split[i]; continue;}
              // if (arr_Position_begin.includes(i)) {str_res+="<span style=\"background-color:lightblue;\"> " + arr_text_split[i];continue;}
              // if (arr_Claim_begin.includes(i)) {str_res+="<span style=\"background-color:lightgreen;\"> " + arr_text_split[i];continue;}
              if (arr_Evidence_begin.includes(i)) {str_res+=" <span style=\"background-color: #ffff66;\"> " + arr_text_split[i];continue;}
              // if (arr_ConcludingStatement_begin.includes(i)) {str_res+="<span style=\"background-color:#ff9966;\"> " + arr_text_split[i];continue;}

              // if (arr_Lead_end.includes(i)) {str_res+=arr_text_split[i]+" </span>";continue;}
              // if (arr_Position_end.includes(i)) {str_res+=arr_text_split[i]+" </span>";continue;}
              // if (arr_Claim_end.includes(i)) {str_res+=arr_text_split[i]+" </span>";continue;}
              if (arr_Evidence_end.includes(i)) {str_res+=" "+arr_text_split[i]+" </span> ";continue;}
              // if (arr_ConcludingStatement_end.includes(i)) {str_res+=arr_text_split[i]+" </span>";continue;}

              if (i != 0){
                str_res+=" "+arr_text_split[i];
              }
              else str_res+=arr_text_split[i];

            }
            console.log(str_res);

            // var ue1 = UE.getEditor('editor', {autoHeightEnabled: false});
            // todo:此处该行间距不生效，试试改配置文件
            ue.ready(function() {

              // ue.execCommand('lineheight', 2); //行间距
              //
              // ue.execCommand('fontsize', '18px'); //字号

              //设置编辑器的内容
              // ue.setContent('测试加载动态内容');
              ue.setContent(str_res);
            });
            $(".loading").hide();






            // =======================

            // var arr = data_try.detailed_result;
            // var tt1 = data_try.correct_result;

            // alert(data_try)

            // var originalText = data_try.original_text;
            // var taggingText = data_try.tagging_text;
            //
            // alert(originalText);
            // alert(taggingText)

            // // ##
            // // alert("tt1: "+tt1);
            // if (arr.length>0){
            //     $("#img_right").hide();
            // }
            // else $("#img_right").show();
            //
            // var str_res="";
            //
            // ##########feedback部分
            var tbody = document.getElementById('tbody1');
            while (tbody.length){

              tbody.removeChild(tbody.parentNode);
            }
            var feedback_content = data.feedback
            var color_list = ["#ffff66"]
            // for (var ar in arr){
            for (var i in feedback_content){
              // alert(arr[ar][1]+" "+arr[ar][2]);
              var tr = document.createElement('tr');
              // tr.innerHTML="<tr><td class='each_td1'>"+arr[ar][1]+"</td>" + "<td class='each_td2'>"+"建议修改为"+"</td>"+ "<td class='each_td3'>"+arr[ar][2]+"</td><td class='each_td4'></td></tr>";
              // tr.innerHTML="<tr><td class='each_td1'>"+feedback_content[i]+"</td>" + "</tr>";
              // test：
              tr.innerHTML="<tr><td class='each_td1' style='border-left :5px solid "+color_list[i]+";'>"+feedback_content[i]+"</td>" + "</tr>";
              tbody.appendChild(tr);

            }
            // var flag = true;
            // var cnt_correct = 0;
            // for (var i in article_content_new){//
            //     if (article_content_new[i] === '<'){
            //         flag = false;
            //         str_res+=article_content_new[i];
            //         continue;
            //     }
            //     else if(article_content_new[i] === '>'){
            //         flag = true;
            //         str_res+=article_content_new[i];
            //         continue;
            //     }
            //     if (flag === true){//可以进行比较了
            //         // str_res+=correct_result[cnt_correct];
            //         if(article_content_new[i]===tt1[cnt_correct]){
            //             str_res+=article_content_new[i];
            //         }
            //         else{
            //             str_res+="<span style='border-bottom:4px double red;'>"+ article_content_new[i] +"</span>" ;
            //         }
            //
            //         cnt_correct+=1;
            //     }
            //     else{//为框内的内容，直接加
            //         str_res+=article_content_new[i];
            //     }
            //
            // }
            //
            // // alert(str_res);
            // ue.ready(function() {
            //
            //     //设置编辑器的内容
            //     // ue.setContent('测试加载动态内容');
            //     ue.setContent(str_res);
            // });
            // $(".loading").hide();
            $("#submit1").css("color","#fff");
            $("#submit1").text("开始分析");
            $("#submit1").attr('disabled',false);
            $(".loading").hide();

          },
          error : function(e) {
            alert("出错！");
            $("#submit1").css("color","#fff");
            $("#submit1").text("开始分析");
            $("#submit1").attr('disabled',false);
            $(".loading").hide();
            // alert(e.toString());
            // alert(e.responseText);
            // alert()
          },

          // dataType : "text"
          // dataType : "json"
        });

      });

      // 一键替换
//       $("#submit2").click(function(){
//         // $("#table1id  tr:not(:first)").empty();
//         $(".loading").show();
//         $("#img_right").show();
//
//         $("#tbody1").html("");
//         var ue = UE.getEditor('editor');
//         // var article_content_txt = UE.getEditor('editor').getContentTxt();
//         var article_content_txt = ue.getContentTxt();
//         var article_content = ue.getContent();
//         // var article_content_html = ue.getContentHtml();
//         // alert("article_content_txt： "+article_content_txt);
//         // alert("article_content： "+article_content);
//         // for (var i in article_content){
//         // 	alert(article_content[i]);
//         // }
//         // alert("article_content_html： "+article_content_html);
//         // alert(article_content_txt);
//         // var instead_text = article_content_txt+"   这是试试哈";
//         // ue.ready(function() {
//         // 	//设置编辑器的内容
//         // 	// ue.setContent('测试加载动态内容');
//         // 	ue.setContent(instead_text);
//         // });
//         var article_content_new="";
//         var flag1 = true;
//         var flag2=true;
//         // alert(article_content);
//         // alert(article_content[4]);
//         // alert(article_content[4+13]);
//         // alert(article_content[17]);
//         for(var i=0;i<article_content.length;i++){
//
//           // alert(i);
//           // alert(article_content[i]);
//           // alert(article_content[i+1]);
//           // alert(article_content[i+2]);
//           // alert(article_content[i+3]);
//
//           // var tmp=i+13;
//           // alert(article_content[tmp]);
//
//           if(article_content[i]==='<'&&article_content[i+13]==='b'&&article_content[i+20]==='b'&&article_content[i+27]==='4'){
//             // if(article_content[i]==='<'){
//             // alert(article_content[i+13]);
//             // alert(article_content[i+20]);
//             // alert(article_content[i+27]);
//             // alert("11111");
//             flag1=false;
//             flag2=false;
//             continue;
//           }
//           if(!flag1&&article_content[i]==='>'){
//             flag1=true;
//             article_content_new+=article_content[i+1];
//             // alert("2222");
//             continue;
//           }
//           if(!flag2&&article_content[i]==='>'&&article_content[i-1]==='n'&&article_content[i-2]==='a'&&article_content[i-5]==='/'&&article_content[i-8]==='>'&&article_content[i-11]==='d'){
//             flag2=true;
//             // alert("3333");
//             continue;
//           }
//           if (flag1&&flag2){
//             // alert("44");
//             article_content_new+=article_content[i];
//           }
//         }
//         // alert(article_content_new);
//         // <span style='border-bottom:4px double red;'></span>
//         // 4  7         17
//         // ajax请求
//         $.ajax({
//           type:"POST",
//           // async:false,
//           url:"http://368672z389.oicp.vip/csc",
//           // data:"action=jQueryAjax",
//           // data:{"text":"国际田联认正中国接力队奥运铜牌。恭喜中国接力队！"},
//           // data:$("#form01").serialize(),
//           // orgText=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！
//           // data:decodeURIComponent($("#uploadForm").serialize(),true),
//           // 传数据
//           data:"text="+article_content_txt,
//           // data:String(text=article_content_txt),
//
//           // data:"text=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！",
//           // contentType:"application/x-www-form-urlencoded; charset=GBK",
//           // contentType:"application/x-www-form-urlencoded; charset=GBK",
//           success:function (data) {
//             // alert("success");
//             data_try=JSON.parse(data);
//             // alert(data_try.correct_result);
//             // alert(data_try)
//             var arr = data_try.detailed_result;
//             var tt1 = data_try.correct_result;
//             // alert(tt1);
//             // 有格式的文本进行一键替换test
// // article_content:编辑器内容
//
//             var arr_correct_split = data_try.correct_result_split;
//             var arr_original_split = data_try.original_text_split;
//             var correct_result = data_try.correct_result;//正确结果
//             var str_res = "";
//             var flag = true;
//             var cnt_correct = 0;
//             //三个=？
//             for (var i in article_content_new){
//               if (article_content_new[i] === '<'){
//                 flag = false;
//                 str_res+=article_content_new[i];
//                 continue;
//               }
//               else if(article_content_new[i] === '>'){
//                 flag = true;
//                 str_res+=article_content_new[i];
//                 continue;
//               }
//               if (flag === true){//可以进行比较了
//                 str_res+=correct_result[cnt_correct];
//                 cnt_correct+=1;
//               }
//               else{//为框内的内容，直接加
//                 str_res+=article_content_new[i];
//               }
//
//             }
//             // alert("str_res: "+str_res);
//             // alert(cnt_correct);
//             // alert(correct_result.length);
//             // for (var i in arr_correct_split){
//             // 	// alert("this is "+ i)
//             // 	for (var j in arr_correct_split[i]){
//             // 		if ()
//             // 		// alert(arr_correct_split[i][j]);
//             // 		if (arr_correct_split[i][j] == arr_original_split[i][j]){
//             // 			str_res+=arr_correct_split[i][j];
//             // 		}
//             // 		else {
//             // 			str_res+="<span style='background-color: yellow;color: red'>"+arr_correct_split[i][j]+"</span>";
//             // 		}
//             // 	}
//             // }
//             // alert(str_res);
//
//
//             // ue.ready(function() {
//             // 	//设置编辑器的内容
//             // 	// ue.setContent('测试加载动态内容');
//             // 	ue.setContent(tt1);
//             // });
//             // alert(str_res);
//             $(".loading").hide();
//             ue.ready(function() {
//               //设置编辑器的内容
//               // ue.setContent('测试加载动态内容');
//               ue.setContent(str_res);
//             });
//             // String posttt1 = tt1;
//             // alert("tt1:  "+tt1);
//           },
//           error : function(e) {
//             alert("出错！");
//             // alert(e.responseText);
//             // alert()
//           },
//           dataType : "text"
//         });
//       });

      // 取消标注
      $("#submit2").click(function(){
        // $("#table1id  tr:not(:first)").empty();
        $(".loading").show();
        // $("#img_right").show();

        $("#tbody1").html("");
        var ue = UE.getEditor('editor');
        // var article_content_txt = UE.getEditor('editor').getContentTxt();
        var article_content_txt = ue.getContentTxt();
        var article_content = ue.getContent();


        ue.ready(function() {
          //设置编辑器的内容
          // ue.setContent('测试加载动态内容');
          ue.setContent(article_content_txt);
        });
        $(".loading").hide();

        // ajax请求
        // $.ajax({
        //     type:"POST",
        //     // async:false,
        //     url:"http://368672z389.oicp.vip/csc",
        //     // data:"action=jQueryAjax",
        //     // data:{"text":"国际田联认正中国接力队奥运铜牌。恭喜中国接力队！"},
        //     // data:$("#form01").serialize(),
        //     // orgText=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！
        //     // data:decodeURIComponent($("#uploadForm").serialize(),true),
        //     // 传数据
        //     data:"text="+article_content_txt,
        //     // data:String(text=article_content_txt),
        //
        //     // data:"text=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！",
        //     // contentType:"application/x-www-form-urlencoded; charset=GBK",
        //     // contentType:"application/x-www-form-urlencoded; charset=GBK",
        //     success:function (data) {
        //         // alert("success");
        //         data_try=JSON.parse(data);
        //         // alert(data_try.correct_result);
        //         // alert(data_try)
        //         var arr = data_try.detailed_result;
        //         var tt1 = data_try.correct_result;
        //
        //
        //
        //         //三个=？
        //         $(".loading").hide();
        //         ue.ready(function() {
        //             //设置编辑器的内容
        //             // ue.setContent('测试加载动态内容');
        //             ue.setContent(str_res);
        //         });
        //         // String posttt1 = tt1;
        //         // alert("tt1:  "+tt1);
        //     },
        //     error : function(e) {
        //         alert("出错！");
        //         // alert(e.responseText);
        //         // alert()
        //     },
        //     dataType : "text"
        // });
      });

    });



    function handleFiles(files) {
      $(".loading").show();
      if(files.length){
        let file = files[0];
        let reader = new FileReader();
        console.log(file)
        reader.onload = function(){
          alert("文件上传成功！");
          // pp.innerHTML = this.result;
          // var array=this.result;
          // var array=this.result.replace(/\r/g,'').split('\n');
          // var array=this.result.replace(/[\n\r]/g,'<br>')
          // var array=this.result.replace(/[\n\r]/g,'');//去除换行
          // var array=this.result.replace(/[\n\r]/g,'<br/>');
          var array=this.result.replace(/[\n]/g,'<br/>');
          // var array=this.result;

          // txts=txts.replace(/[\n\r]/g,'<br>')
          // var array=this.result.split('\r');
          // alert(array);
          // textAreaOrg.innerHTML=array;
          $(".loading").hide();
          var ue = UE.getEditor('editor');
//对编辑器的操作最好在编辑器ready之后再做
          ue.ready(function() {
            //设置编辑器的内容
            ue.setContent(array);
          });
          // for(var l in array) {
          //     // pp.innerHTML += array[l] + '<br />'
          //     textAreaOrg.innerHTML+=array[l];
          // }
          // alert(textAreaOrg.innerHTML);
        };
        // reader.readAsText(file, "gb2312");
        reader.readAsText(file, "UTF-8");
      }
    }
  </script>
</head>
<body>
<div class="loading"><img src="https://sucai.suoluomei.cn/sucai_zs/images/20200115093745-vava.gif"></div>
<div class="top_box">
  <div class="layui-layout layui-layout-admin">
    <!--        <%&#45;&#45;    nav_try&#45;&#45;%>-->
    <div class="layui-header" style="background: rgb(19,29,47); opacity: 1">
      <!--            <div class="layui-logo">You Are Right</div>-->
      <div class="layui-logo"><a href="index" style="color: lightblue">论点挖掘分析系统</a></div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="demo1">作文文本分析</a></li>
        <li class="layui-nav-item"><a href="demo2">新闻文本分析</a></li>
        <li class="layui-nav-item layui-this"><a href="demo3">评论文本分析</a></li>
        <li class="layui-nav-item"><a href="login">退出登录</a></li>
      </ul>
      <script>
        //JavaScript代码区域
        layui.use('element', function() {
          var element = layui.element;
        });
      </script>
    </div>
  </div>

</div>
<div class="left_box">
  <div class="btn_div">
    <div class="btns_box">

      <div class="btn1">
        <button id="submit1" type="button" class="layui-btn layui-btn-radius" >开始分析</button>
      </div>
      <div class="btn1">
        <button id="submit2" type="button" class="layui-btn layui-btn-radius" >取消标注</button>
      </div>
      <div class="btn1">
        <button id="submit3" type="button" onclick="location.reload()" class="layui-btn layui-btn-radius" >重置</button>
      </div>
    </div>


  </div>
  <div class="editor_div">
    <div id="editor" name="article_content">
    </div>
  </div>
  <!--    <%&#45;&#45;    <div class="btn_div"></div>&#45;&#45;%>-->
</div>

<!--手动改了style-->
<div id="table_div" style="height: 752.409px;" >
  <!--    ###-->
  <!--    <img src="../assets/images/rightImg1.jpg" alt="" id="img_right">-->
  <!--    改成反馈信息-->
  <table id="table1id" cellspacing="0" border="0" style="border-collapse: separate;border-spacing: 0px 12px;" >
    <thead>
    <tr style="width: 100%;height: 75px">
      <!--            <th style="height: 75px;width: 100%">Argument FeedBack</th>-->
      <th style="height: 75px;width: 100%;background-color: lightblue;font-size: 20px;font-weight: 800;">分析结果</th>
      <!--            <th style="height: 35px;width: 25%;"></th>-->
      <!--            <th style="height: 35px;width: 10%;"></th>-->
      <!--            <th style="height: 35px;width: 40%;"></th>-->
    </tr>
    </thead>
    <tbody id="tbody1">
    </tbody>
  </table>



  <div>

  </div>
  <!--    <%&#45;&#45;    <div class="scroll-bar"></div>&#45;&#45;%>-->
</div>


</body>
</html>
