<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/libs/particles/css/style.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/login.css">

<!--    layui-->
    <link rel="stylesheet" href="/assets/js/layui/css/layui.css">
    <!--	<script src="/assets/js/jquery-3.2.1.min.js"></script>-->
    <script src="/assets/js/layui/layui.js"></script>
<!--    <script src="/assets/js/bootstrap/js/bootstrap.min.js"></script>-->


</head>
<body>
    <div id="particles-js"></div>
    <div id="wrapper" style="height:100%;width: 100%">
        <div style="height: 300px;width: 100%;text-align: center;margin: auto;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
            <!--			<img src="../assets/img/zhihu_logo.png" />-->
            <span style="font-size: 50px;font-weight: bold;display: inline-block;">基于论证的作文自动评分系统</span>
            <h2 style="margin-top: 2%;">分析文本的论证结构，找论点，查论据，一步就行！</h2>
<!--            <div style="height: 200px;width: 25%;display: block;margin: 0 auto;">-->
            <div style="height: 200px;width: 25%;display: block;margin: 3% auto;">
<!--                <div style="float:left"><a href="/view/demo1">游客访问</a></div>-->
                <div style="float:left">
                    <button id="#" type="button" onclick="window.location.href='/view/login'" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal">学生登录</button>
<!--                    <a href="/view/login">学生登录</a>-->
                </div>
<!--                <div style="float:right"><a href="/view/login">前往登录</a></div></div>-->
<!--                <div style="float:right"><a href="/view/login">我是老师</a></div></div>-->
                <div style="float:right">
                    <button id="#" type="button" onclick="window.location.href='/admin/login'" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal">管理员登录</button>
<!--                    <a href="/admin/login">管理员登录</a>-->
                </div></div>
        </div>


    </div>
    <!--		<div id="footer">-->
    <!--			<span>&copy;2017知乎</span><span>·</span><a href="javascript:;">知乎圆桌</a><span>·</span><a href="javascript:;">发现</a><span>·</span><a href="javascript:;">移动应用</a><span>·</span><a href="javascript:;">使用机构账号登录</a><span>·</span><a href="javascript:;">联系我们</a><span>·</span><a href="javascript:;">工作来知乎</a><br />-->
    <!--			<span>·</span><a href="javascript:;">京ICP证110745号</a><span>·</span><span>京公网安备11010802010035号</span><span>·</span><a href="javascript:;">出版物经营许可证</a>-->
    <!--		</div>-->

    <script src="../assets/libs/jquery-1.12.4/jquery.min.js"></script>
    <script src="../assets/libs/particles/particles.min.js"></script>
    <script src="../assets/libs/particles/js/app.js"></script>
    <!-- <script src="../assets/libs/particles/js/lib/stats.js"></script> -->
    <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function() {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    </script>
    <!--	<script>-->
    <!--		$(".download_btn").click(function(){-->
    <!--			if($(".QRcode").css("display")=="none"){-->
    <!--				$(".QRcode").show();-->
    <!--				$(".download_btn").text("关闭二维码");-->
    <!--			}else{-->
    <!--				$(".QRcode").hide();-->
    <!--				$(".download_btn").text("下载知乎App");-->
    <!--			}-->
    <!--		});	-->
    <!--	</script>-->
<!--    <script>-->
<!--        $(function(){-->
<!--            //为表单的必填文本框添加提示信息（选择form中的所有后代input元素）-->
<!--            // $("form :input.required").each(function () {-->
<!--            //     //通过jquery api：$("HTML字符串") 创建jquery对象-->
<!--            //     var $required = $("<strong class='high'>*</strong>");-->
<!--            //     //添加到this对象的父级对象下-->
<!--            //     $(this).parent().append($required);-->
<!--            // });-->
<!--            // var errorMsg = $(".error-msg").text();-->
<!--            //为表单元素添加失去焦点事件-->
<!--            $("form :input").blur(function(){-->
<!--                var $parent = $(this).parent();-->
<!--                $parent.find(".msg").remove(); //删除以前的提醒元素（find()：查找匹配元素集中元素的所有匹配元素）-->
<!--                //验证手机号-->
<!--                if($(this).is("#mobile")){-->
<!--                    var mobileVal = $.trim(this.value);-->
<!--                    // var regMobile = /^1[3|4|5|7|8][0-9]{9}$/;-->
<!--                    if(mobileVal == ""){-->
<!--                        // var errorMsg = " 请输入手机号或邮箱！";-->
<!--                        var errorMsg = " 请输入用户名！";-->
<!--                        $parent.append("<span class='msg onError'>" + errorMsg + "</span>");-->
<!--                    } else{-->
<!--                        var okMsg=" 输入正确";-->
<!--                        $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");-->
<!--                    }-->
<!--                }-->
<!--                //验证密码-->
<!--                if($(this).is("#psd")){-->
<!--                    var psdVal = $.trim(this.value);-->
<!--                    var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;-->
<!--                    // var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;-->
<!--                    if(psdVal== "" || !regPsd.test(psdVal)){-->
<!--                        var errorMsg = " 密码为6-20位字母、数字的组合！";-->
<!--                        $parent.append("<span class='msg onError'>" + errorMsg + "</span>");-->
<!--                    }-->
<!--                    else{-->
<!--                        var okMsg=" 输入正确";-->
<!--                        $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");-->
<!--                    }-->
<!--                }-->
<!--            }).keyup(function(){-->
<!--                //triggerHandler 防止事件执行完后，浏览器自动为标签获得焦点-->
<!--                $(this).triggerHandler("blur");-->
<!--            }).focus(function(){-->
<!--                $(this).triggerHandler("blur");-->
<!--            });-->

<!--            //点击重置按钮时，通过trigger()来触发文本框的失去焦点事件-->
<!--            // $("#btnSubmit").click(function(){-->
<!--            // 	//trigger 事件执行完后，浏览器会为submit按钮获得焦点-->
<!--            // 	$("form .required:input").trigger("blur");-->
<!--            // 	var numError = $("form .onError").length;-->
<!--            // 	if(numError){-->
<!--            // 		return false;-->
<!--            // 	}-->
<!--            // 	alert('登陆成功！')-->
<!--            //-->
<!--            // });-->
<!--        })-->

<!--    </script>-->
<!--    <script type="text/javascript">-->
<!--        $(function(){-->
<!--            // ajax_try-->
<!--            $("#btnSubmit").click(function(){-->

<!--                // const data = { 'json':article_content_txt};-->
<!--                // var data1 = {-->
<!--                // 	data: JSON.stringify({-->
<!--                // 		'text': article_content_txt-->
<!--                // 	}),}-->

<!--                var uname = $("#mobile").val();-->
<!--                var pword = $("#psd").val();-->

<!--                // var params = $('#login_form').serialize();-->
<!--                // alert(params);-->
<!--                // alert(uname);-->
<!--                // alert(pword);-->

<!--                $.ajax({-->
<!--                    // headers:{'Content-Type':'application/json;charset=utf8'},-->

<!--                    // headers:{'Content-Type':'application/x-www-form-urlencoded;charset=utf8'},-->
<!--                    type:'POST',-->
<!--                    // async:false,-->
<!--                    // url:"http://127.0.0.1:9999/argmin",-->
<!--                    // url:"http://127.0.0.1:9999/argmin1",-->
<!--                    url:"http://localhost:8086/user/login",-->
<!--                    // url:"http://127.0.0.1:9999/test",-->
<!--                    // contentType: 'application/json',-->
<!--                    // 指定参数的格式类型-->
<!--                    contentType: 'application/x-www-form-urlencoded',-->
<!--                    // data:params,-->
<!--                    data: {-->
<!--                        username:uname,-->
<!--                        password:pword-->
<!--                    },-->
<!--                    // dataType:"json",-->
<!--                    // data:"action=jQueryAjax",-->
<!--                    // data:{"text":"国际田联认正中国接力队奥运铜牌。恭喜中国接力队！"},-->
<!--                    // data:$("#form01").serialize(),-->
<!--                    // orgText=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！-->
<!--                    // data:decodeURIComponent($("#uploadForm").serialize(),true),-->
<!--                    // 传数据-->
<!--                    // data:"text="+article_content_txt,-->

<!--                    // data: article_content_txt.toString(),-->

<!--                    // data:String(text=article_content_txt),-->
<!--                    // json: article_content_txt.toString(),-->
<!--                    // json: "json="+article_content_txt,-->
<!--                    // json: data,-->
<!--                    // data:JSON.stringify({-->
<!--                    // 	'txt':   article_content_txt,-->
<!--                    // 	// 'txt':   "test",-->
<!--                    // 	// password: $("#password").val()-->
<!--                    // }),-->
<!--                    // data: data1,-->

<!--                    // data:"text=国际田联认正中国接力队奥运铜牌。恭喜中国接力队！",-->
<!--                    // contentType:"application/x-www-form-urlencoded; charset=GBK",-->
<!--                    // contentType:"application/x-www-form-urlencoded; charset=GBK",-->
<!--                    success:function (data) {-->
<!--                        console.log("111")-->
<!--                        // alert("success");-->
<!--                        //todo:-->
<!--                        // alert(data.text) //!!!-->
<!--                        console.log(data) //!!!-->
<!--                        // ##-->
<!--                        console.log("===============")-->
<!--                        // alert("111")-->
<!--                        // alert(data)-->

<!--                        if (data.code == 200) {//根据返回值进行跳转-->
<!--                            alert("登录成功！")-->
<!--                            window.location.href = 'demo1';-->
<!--                        }-->
<!--                        else{-->
<!--                            alert(data.msg);-->
<!--                            window.location.href = 'login';-->
<!--                        }-->
<!--                    },-->
<!--                    error : function(e) {-->
<!--                        alert("出错！");-->
<!--                        // alert(e.toString());-->
<!--                        // alert(e.responseText);-->
<!--                        // alert()-->
<!--                    },-->

<!--                    // dataType : "text"-->
<!--                    // dataType : "json"-->
<!--                });-->

<!--            });-->

<!--        });-->

<!--    </script>-->



</body>
</html>